.block {
 border: 1px solid #123;
 display: flex;
 height: 150px;
 justify-content: center;
 align-items: center;
 width: 90%;
 margin: auto;
 /* justify-content: ;
 align-items: ; 
 flex-direction: ;*/
} 
.element {
 background-color: rgb(136, 124, 124);
 border: 1px solid red;
 color: burlywood;
 padding: 10px;
}
